@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    background-color: #e2e8f0;
}

.abyssinica-sil-regular {
    font-family: "Abyssinica SIL", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.misscircle{
    margin-left: 4px;
    color: rgb(90, 89, 78);
  }

hr{
    border-color: rgba(133, 133, 133, 0.308);
    border-top-width: 0.094rem;
}

.gamecard{
    font-weight: 500;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.375rem;
    height: 5rem;
    background-color: rgba(203, 213, 225, 0.60);
    border-radius: 0.25rem;
}
.gamecard.active{
    background-color: #5a594e;
    color: white;
}

.solvedcard{
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 40.5rem;
    height: 5rem;
    border-radius: 0.25rem;
}

.solvedcardText{
    font-weight: 500;
    display: grid;
    text-align: center;
    align-content: center;
    
}
.helpColor{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-flex;
    border-radius: 3px;
}

.helpClose{
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.2rem;
    font-weight: 700;
}

.custom-alert {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 15px 25px;
    border-radius: 5px;
    z-index: 9999;
    display: none; /* Initially hidden */
}

.gameControl{
    @apply rounded-full outline outline-offset-0 outline-1 px-10 py-3 text-base;
}

.submitbtn{
    @apply rounded-full bg-black text-white px-10 py-3 text-base;
}

.gameControl:disabled{
    @apply disabled:outline-gray-700 cursor-not-allowed opacity-50 rounded-full outline outline-offset-0 outline-1 px-10 py-3 text-base pointer-events-none
}

@keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
      opacity: 0; /* Fade out the circle as it scales down */
    }
  }

.animate__animated.animate__shakeY {
--animate-duration: 0.4s;
}


@media (max-width: 640px) {  
    .container{
        justify-content: space-between;
        align-items: center;
        width: 100%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .gamecard{
        --cardwidth: 20vw;
        font-size: medium;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: var(--cardwidth);
        height: var(--cardwidth);
        height: width;
        border-radius: 0.25rem;
    }  

    .solvedcard{
        display: flex;
        text-wrap: nowrap; 
        align-items: center;
        justify-content: center;
        width: auto;
        min-width: 90vw;
        height: 5rem;
        border-radius: 0.25rem;
    }
    .solvedcardText{
        font-weight: 500;
        display: grid;
        text-align: center;
        align-content: center;
    }
    .gameControl {
        border-radius: 9999px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1rem;
        line-height: 1rem;
        outline-style: solid;
        outline-width: 1px;
        outline-offset: 0px;
    }

    .gameControl:disabled {
        pointer-events: none;
        cursor: not-allowed;
        border-radius: 9999px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1rem;
        line-height: 1rem;
        opacity: 0.5;
        outline-style: solid;
        outline-width: 1px;
        outline-offset: 0px;
    }
    
    .submitbtn{
        border-radius: 9999px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 1rem;
        line-height: 1rem;
        outline-style: solid;
        outline-width: 1px;
        outline-offset: 0px;
        background-color: black;
        color: white;
     
    }
    
    .gameControl{
        text-wrap: nowrap;
    }
}